### COMP 651   Data Analytics Techniques      Spring 2020      Assignment 7
#### 12 points total.   Due Tuesday,  April 21

Solutions should be single lines of Python code unless its otherwise stated.

In [110]:
import numpy as np
import pandas as pd
import xarray as xr
# Ignore the warning you get from importing xarray.

ModuleNotFoundError: No module named 'xarray'

In [32]:
#define NA as follows:
NA = np.NaN

#### 1. Construct a DataFrame assigned to df.  The contents are as follows.
*(1 pt., multiple-line statement)*

In [69]:
data = np.array([[1.0, 2.0, NA, 3.0], [4.0, 5.0, NA, NA], [NA, NA, NA, NA], [6.0, 7.0, NA, 8.0]])
index = ['r1', 'r2', 'r3', 'r4']
columns = ['a', 'b', 'c', 'd']
df= pd.DataFrame(data, index = index, columns = columns)
print(df)

      a    b   c    d
r1  1.0  2.0 NaN  3.0
r2  4.0  5.0 NaN  NaN
r3  NaN  NaN NaN  NaN
r4  6.0  7.0 NaN  8.0

#### 2. Drop all rows of *df* that are missing all data. 
*(0.5 pt)*

In [25]:
df.dropna(how='all')

      a    b   c    d
r1  1.0  2.0 NaN  3.0
r2  4.0  5.0 NaN  NaN
r4  6.0  7.0 NaN  8.0

#### 3. Rather than drop positions where the data is missing, weâ€™ll now fill them in. Provide 11 to fill missing data in the a column, 12 missing data in the b column, 13 for missing data in the c column, and 14 for missing data in the d column. The result is as follows.
*(0.5 pt.)*

In [70]:
df.fillna({'a': 11.0, 'b': 12.0, 'c':13.0, 'd':14.0})

       a     b     c     d
r1   1.0   2.0  13.0   3.0
r2   4.0   5.0  13.0  14.0
r3  11.0  12.0  13.0  14.0
r4   6.0   7.0  13.0   8.0

#### 4. Construct a DataFrame assigned to *df1*.  The contents are as follows 
*( 1 pt. Multiple Statements)*

In [39]:
index=[['Qual','Qual','Quant','Quant'],[1,2,1,2]]
columns=[['Fred','Fred','Bill','Bill'],['One','Two','One','Two']]
data = np.array([[8,6,5,7],[9,7,7,6],[8,9,6,7],[7,10,4,8]])
df1=pd.DataFrame(data,index=index,columns=columns)
df1.index.names=['Aspect', 'Part']
df1.columns.names=['Student','Quiz']
print(df1)

Student     Fred     Bill
Quiz         One Two  One Two
Aspect Part
Qual   1       8   6    5   7
       2       9   7    7   6
Quant  1       8   9    6   7
       2       7  10    4   8

#### 5. Select just the two columns with data on Fred. The following is the result :
*( 0.5 pt.)*

In [45]:
df1["Fred"]

Quiz         One  Two
Aspect Part
Qual   1       8    6
       2       9    7
Quant  1       8    9
       2       7   10

#### 6. Select just the rows for Aspec Qual and Part 2. The result is as follows. 
*(0.5 pt.)*

In [47]:
df1.loc["Qual", 2]

Student  Quiz
Fred     One     9
         Two     7
Bill     One     7
         Two     6
Name: (Qual, 2), dtype: int32

####  7. Select just the information on the Qual aspect for Fred. The result is :
*(1 pt.)*

In [48]:
df1.loc['Qual','Fred']

Quiz  One  Two
Part
1       8    6
2       9    7

#### 8. Find the mean across the two quizzes for the students. (There will be a mean value for each student for both parts of both aspects, four means in all for each student). The following is the result.
*(1 pt.)*

In [56]:
df1.mean(level=0, axis=1)

Student      Fred  Bill
Aspect Part
Qual   1      7.0   6.0
       2      8.0   6.5
Quant  1      8.5   6.5
       2      8.5   6.0

#### 9. Swap the Aspect and Part indexes and sort on the Part index. The result is 
*(1 pt.)*

In [60]:
df1.swaplevel(0, 1).sort_index()

Student     Fred     Bill
Quiz         One Two  One Two
Part Aspect
1    Qual      8   6    5   7
     Quant     8   9    6   7
2    Qual      9   7    7   6
     Quant     7  10    4   8

#### 10. Construct a DataFrame assigned to df2.  The contents are as follows. 
*(1 pt., Multiple Line Statement)*

In [78]:
index = [0, 1, 2, 3]
data = {'Name':['Al', 'Al', 'Bill', 'Bill'], 'Quiz':[1, 2, 1, 2], 'Problem 1': [4, 5, 3, 2],'Problem 2': [4, 4, 4, 3]}
df2 = pd.DataFrame(data)
print(df2)

   Name  Quiz  Problem 1  Problem 2
0    Al     1          4          4
1    Al     2          5          4
2  Bill     1          3          4
3  Bill     2          2          3

#### 11. Produce from df2 a DataFrame that has the columns Name and Quiz as a hierarchical index. The result is : 
*(1 pt.)*

In [79]:
df2.set_index(['Name', 'Quiz'], drop = True)

           Problem 1  Problem 2
Name Quiz
Al   1             4          4
     2             5          4
Bill 1             3          4
     2             2          3

#### 12. Produce an xarray DataArray assigned to xarr1. The contents are as follows.
*(1 pt.)*

In [119]:
xarr1=xr.DataArray(np.array([[0, 1],[2, 3]]), dims=('x','y'), coords= {'x':[1, 2], 'y': [0, 1]})
print(xarr1)

NameError: name 'xr' is not defined

#### 13. Produce an xarray DataArray assigned to xarr2. The contents are as follows.
*(1 pt.)*

In [122]:
xarr2=xr.DataArray(np.array([[3, 4],[5, 6]]), dims=('x','y'), coords= {'x':[2, 3], 'y': [0, 1]})
print(xarr2)

NameError: name 'xr' is not defined

#### 14. Produce an xarray Dataset datas that has xarr1 associated with key 'front' and xarr2 associated with key 'back'. The contents are as follows.
*(1 pt.)*

In [124]:
import numpy as np
import pandas as pd
import xarray as xr
datas =xr.Dataset({'front': xarr1,'back': xarr2})
print(datas)

ModuleNotFoundError: No module named 'xarray'